<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio - Gospel Isaac</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/index-style.css">
</head>

<body>
    <header>
        <nav>
            <div class="container">
                <ul class="nav-links">
                    <li><a href={{ url_for("index") }}> Home </a></li>
                    <li><a href={{ url_for("sample") }}> Sample </a></li>
                    <li><a href={{ url_for("more") }}> More </a></li>
                    <li><a href={{ url_for("contact") }}> Contact Me </a></li>
                    {% if login %}
                        <li><a href="#">Logout</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>

    <section id="home" class="hero">
        <div class="container">
            <div class="content">
                <div class="intro">
                    <h1>Hello, I'm Akuegbe Williams</h1>
                    <p> A Front-End Web Developer with expertise in developing robust and scalable applications. 
                        With over 2 years of experience, using HTML, CSS, and JavaScript.
                    </p>
                    <a href="contact.html" class="btn">Contact Me</a>
                </div>
                <div class="profile-pic">
                    <img src="static/images/williams.jpg" alt="Your Name">
                </div>
            </div>
        </div>
    </section>

    <footer>
            <div>
                <p>&copy; 2024 Gospel Isaac All Rights Reserved.</p>
            </div>
    </footer>

</body>

</html>
