
{% extends "layout.html" %}

    {% block css %}
        <link rel="stylesheet" href="/static/css/more-style.css">
    {%endblock%}

    {% block content %}
        <section class="content">
            <div class="container">
                <h1>Welcome!</h1>
                <div class="gallery">
                    <div class="item">
                        <img src="static/images/plex-tv-home-page.webp" alt="A blog">
                        <div class="description">
                            <h3>Project 1</h3>
                            <p>Plex Tv</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="static/images/sqarespace.png" alt="Square space">
                        <div class="description">
                            <h3>Project 2</h3>
                            <p>Square Space Platform</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="static/images/videograph-free-template.jpg" alt="A Videograph site">
                        <div class="description">
                            <h3>Project 3</h3>
                            <p>A Videograph project</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="static/images/Zillow-Website-Design.webp" alt="Zillow Website">
                        <div class="description">
                            <h3>Project 4</h3>
                            <p>Zillow Website</p>
                        </div>
                    </div>
                    <!-- Add more items as needed -->
                </div>
            </div>
        </section>
    {%endblock%}